@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col-pos: 1rem;
    --col-w: 1rem;
    --font-s: .75rem;
    --bg-x-pos: 0;
    --animation-speed: 5s;
}

body {
    overflow: hidden;
    font-family: "JetBrains Mono", monospace;
}

%bg-img {
    background-image: url("data:image/svg+xml,%3Csvg width='165mm' height='90mm' viewBox='0 0 165 90'%3E%3Cg id='layer1' transform='translate(0 -207)'%3E%3Cg id='g832' transform='matrix(1.0012281 0 0 0.99212597 -29.896788 123.46358)'%3E%3Crect y='84.199409' x='29.860117' height='90.714287' width='164.79761' id='rect815' style='opacity:1%3Bfill:%2300c300%3Bfill-opacity:1%3Bstroke:none%3Bstroke-width:1%3Bstroke-linecap:round%3Bstroke-linejoin:round%3Bstroke-miterlimit:4%3Bstroke-dasharray:none%3Bstroke-dashoffset:0%3Bstroke-opacity:1%3Bpaint-order:fill markers stroke' /%3E%3CflowRoot transform='matrix(0.64355337 0 0 0.64355337 -58.813732 -159.26222)' style='font-style:normal%3Bfont-variant:normal%3Bfont-weight:normal%3Bfont-stretch:normal%3Bfont-size:39.46836472px%3Bline-height:1.25%3Bfont-family:sans-serif%3B-inkscape-font-specification:'sans-serif  Normal'%3Bfont-variant-ligatures:normal%3Bfont-variant-caps:normal%3Bfont-variant-numeric:normal%3Bfont-feature-settings:normal%3Btext-align:start%3Bletter-spacing:0px%3Bword-spacing:0px%3Bwriting-mode:lr-tb%3Btext-anchor:start%3Bfill:%2300ff00%3Bfill-opacity:1%3Bstroke:none' id='flowRoot817' xml:space='preserve'%3E%3CflowRegion style='font-style:normal%3Bfont-variant:normal%3Bfont-weight:normal%3Bfont-stretch:normal%3Bfont-size:39.46836472px%3Bfont-family:sans-serif%3B-inkscape-font-specification:'sans-serif  Normal'%3Bfont-variant-ligatures:normal%3Bfont-variant-caps:normal%3Bfont-variant-numeric:normal%3Bfont-feature-settings:normal%3Btext-align:start%3Bwriting-mode:lr-tb%3Btext-anchor:start%3Bfill:%2300ff00%3Bfill-opacity:1' id='flowRegion819'%3E%3Crect style='font-style:normal%3Bfont-variant:normal%3Bfont-weight:normal%3Bfont-stretch:normal%3Bfont-size:39.46836472px%3Bfont-family:sans-serif%3B-inkscape-font-specification:'sans-serif  Normal'%3Bfont-variant-ligatures:normal%3Bfont-variant-caps:normal%3Bfont-variant-numeric:normal%3Bfont-feature-settings:normal%3Btext-align:start%3Bwriting-mode:lr-tb%3Btext-anchor:start%3Bfill:%2300ff00%3Bfill-opacity:1' y='428.23398' x='157.14285' height='131.42857' width='502.85715' id='rect821' /%3E%3C/flowRegion%3E%3CflowPara id='flowPara825'%3ELOADING...%3C/flowPara%3E%3C/flowRoot%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background: #222;
}

.txt-col {
    position: absolute;
    left: var(--col-pos);
    top: 0;
    height: 100vh;
    overflow: hidden;
    width: var(--col-w);
    background: url("https://zupimages.net/up/22/31/vqxc.png");
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: auto;
    font-size: var(--font-s);
    font-weight: 900;
    animation: raining-code var(--animation-speed) linear infinite;

    span{
        display: inline-block;
    }

    span:last-of-type{
        // background: cyan;
        // animation: twinkle .5s linear alternate infinite;
    }
}

@keyframes twinkle{
    from{
        opacity: .5;
    }
    to{
        opacity: .25;
    }
}

@keyframes raining-code {
    from {
        transform: translateY(-100vh);
        background-position: calc(var(--col-pos) * -1) 100vh;
    }
    to {
        transform: translateY(100vh);
        background-position: calc(var(--col-pos) * -1) -100vh;
    }
}
