@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --col-pos: 1rem;
  --col-w: 1rem;
  --font-s: .75rem;
  --bg-x-pos: 0;
  --animation-speed: 5s;
}

body {
  overflow: hidden;
  font-family: "Russo One", sans-serif;
}

.container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  color: white;
  mix-blend-mode: darken;
  background: black;
  transition: opacity 0.5s ease-in-out;
}

.txt-col {
  position: absolute;
  left: var(--col-pos);
  top: 0;
  height: 100vh;
  overflow: hidden;
  width: var(--col-w);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-s);
  font-weight: 700;
  -webkit-animation: raining-code var(--animation-speed) linear infinite;
          animation: raining-code var(--animation-speed) linear infinite;
}

.loader-message {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  font-size: 12.5vw;
  letter-spacing: 1.5vw;
  color: lime;
  background: green;
}

.page-is-loaded {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: lime;
  font-size: 2.5rem;
}

.pill {
  height: 5vw;
  width: 10vw;
  border-radius: 5vw;
  border: none;
  cursor: pointer;
}

.redpill {
  background: radial-gradient(circle at 25% 115%, rgba(255, 255, 255, 0.3333333333) 10%, rgba(34, 34, 34, 0.3333333333)), red;
}

.bluepill {
  background: radial-gradient(circle at 75% 115%, rgba(255, 255, 255, 0.3333333333) 10%, rgba(34, 34, 34, 0.3333333333)), blue;
}

@-webkit-keyframes twinkle {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.25;
  }
}

@keyframes twinkle {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.25;
  }
}
@-webkit-keyframes raining-code {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(100vh);
  }
}
@keyframes raining-code {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(100vh);
  }
}
/* signature */
.signature {
  position: absolute;
  left: 0;
  bottom: 0;
}

.link {
  position: absolute;
  z-index: 10;
  left: calc(5vmin - 1rem);
  bottom: calc(5vmin - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.link span {
  font-size: 2rem;
  font-family: arial, sans-serif;
  color: whitesmoke;
}
.link .my-name {
  position: relative;
}
.link .before,
.link .after {
  overflow: hidden;
  width: 0px;
  transition: width 0.5s;
  transform-origin: right;
}
.link .before-text {
  display: inline-block;
  width: auto;
  text-align: right;
}
.link .after-text {
  display: flex;
  align-items: center;
  width: auto;
  height: 3rem;
  transform-origin: top center;
}
.link:hover .before {
  width: 3.5rem;
}
.link:hover .after {
  width: 5rem;
}
.link:hover .spin {
  display: inline-block;
  transition: 0.5s transform 0.5s ease-in-out;
  transform: rotate(360deg);
}/*# sourceMappingURL=style.css.map */